<div class="table-responsive">
  <table class="table table-hover table-striped align-middle mb-0">
    <thead class="table-light text-center">
      <tr>
        <th>チケット名</th>
        <th>購入日</th>
        <th>有効期限</th>
        <th>消化済</th>
        <th>残数</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody id="active_ticket_table_body">
      <% tickets.each do |ticket| %>
        <%= render partial: "admin/tickets/partials/ticket_row", locals: { ticket: ticket } %>
      <% end %>
    </tbody>
  </table>
</div>
